div.App{
  background-color: white;
  display: flex;
  height: 100vh
}

div.add-button{
  position: absolute;
  bottom: 64px;
  right: 64px;
  
}

div.container{
  height: 100%;
  overflow-x: scroll;
}

div.container.main{
flex-grow: 1;
}

div.container.sub{

}

div.Sub{
  padding: 16px;
}

div.Main{
 
  padding: 40px 24px;
}

div.Memo{
  border-radius: 16px;
  border:solid 2px darkcyan;
  border-color: darkcyan;
  background-color: white;
  padding: 24px;
  margin-bottom: 8px;
}

div.Memo .header{
  display: flex;
  align-items: center;
}

div.Memo .favorite-button{
  flex-grow: 1;
}

div.Memo p{
  margin: 16px 0px;
  font-size: 24px;
}

div.Memo .date{
  font-size: 16px;
  text-align: right;
}

div.Category{
  background-color: darkcyan;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
}

button.DeleteButton{
  font-size: 24px;
  border: none;
  background-color: transparent;
}

button.FavoriteButton{
  font-size: 22px;
  border: none;
  background-color: transparent;
}

button.AddButton{
  border: solid 4px darkslategray;
  background-color: darkcyan;
  color: white;
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  font-size: 56px;
}

div.RealTime{
  font-size: 24px;
  border-radius: 6px;
  padding: 16px 24px;
  color: white;
  background-color: darkcyan;
}

form.MemoForm textarea{
  resize: none;
  border-radius: 6px;
  width: 809px;
  height: 500px;
  border: solid 2px darkcyan;

}
form.MemoForm div.ButtonGroup{
  text-align: right;
}

form.MemoForm button.CloseButton{
  border-radius: 6px;
  color: white;
  width: 60px;
  height: 30px;
  border: none;
  background-color: darkcyan;
}

form.MemoForm button.AddMemoButton{
  border-radius: 6px;
  color: white;
  width: 60px;
  height: 30px;
  border: none;
  background-color: darkcyan;
  }